<!doctype html>
<head>
  <title>Práctica 5 - Monitoreo de una Interfaz de Red</title>
</head>
<body>
  <h1>Práctica 5 - Monitoreo de una Interfaz de Red</h1>
  <p>
    En esta práctica se realizaron una serie de rutas que 
    permiten obtener información sobre la interfaz de red 
    predeterminada.
  </p>
  <ul>
    <li>
      <a href="/conteo">/conteo</a>: Muestra el conteo actual de paquetes en la interfaz de red determinada.
    </li>
    <li>
      <a href="/conteo-grafica">/conteo-grafica</a>: Muestra una gráfica con el conteo de paquetes cada 5s para la interfaz de red determinada.
    </li>
    <li>
      <a href="/estado-interfaz-grafica">/estado-interfaz-grafica</a>: Muestra una gráfica con el estado de la interfaz de red cada 5s.
    </li>
  </ul>
  <h2>Datos del Alumno</h2>
  <ul>
    <li><b>Nombre:</b> Humberto Alejandro Ortega Alcocer</li>
    <li><b>Número de Boleta:</b> 2016630495</li>
    <li><b>Materia:</b> Administración de Servicios en Red</li>
    <li><b>Grupo:</b> 4CM11</li>
  </ul>
</body>
