<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Proyecto Administracion de Servicios en Red</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style.css')}}"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/menu">Inicio</a>
        </li>
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a href="/topologia">Topología</a></li>
        <li><a href="/bitacora">Bitácora</a></li>
        <li><a href="/monitoreo">Monitoreo</a></li>
        <li><a href="/dispositivos">Dispositivos</a></li>
        <li><a href="/enrutamiento">Enrutamiento</a></li>
        <li><a href="/alertas">Alertas</a></li>
        <li><a href="/">Salir</a></li>
      </ul>
    </nav>
    <br />
    <br />
    <br />
    <div class="contenedor">
      <div class="contenido" id="ipn" align="center">
        <img src="{{url_for('static',filename='IPN.png')}}" />
      </div>
      <div>
        <h1 align="center">Instituto Politécnico Nacional</h1>
        <h2 align="center">Escuela Superior de Cómputo</h2>
      </div>
      <div class="contenido" id="escom" align="center">
        <img src="{{url_for('static',filename='ESCOM.png')}}" />
      </div>
    </div>
    <div id="portada">
      <h1 align="center">Proyecto Final</h1>
      <h2 align="center">Profesor:</h2>
      <h3 align="center">Martinez Rosales Ricardo</h3>
      <h2 align="center">ElectroAdictos:</h2>
      <h3 align="center">González Barrientos Geovanni Daniel</h3>
      <h3 align="center">Gutiérrez Gómez Yohan Leonardo</h3>
      <h3 align="center">Godínez Morales Mario Sebastián</h3>
      <h3 align="center">Ortega Alcocer Humberto Alejandro</h3>
      <h2 align="center">4CM11</h2>
    </div>
  </body>
</html>
